//Primary/Secondary colors
@use "@material/theme" with (
  $primary: #000000,
  $on-primary: #ffffff
);

//Embed used material components
@use "@material/layout-grid/mdc-layout-grid";
@use "@material/typography/mdc-typography";
@use "@material/icon-button";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/button/styles";
@use "@material/list/mdc-list";
@use "@material/menu-surface/mdc-menu-surface";
@use "@material/menu/mdc-menu";
@use "@material/card";
@use "@material/ripple";

//Include component-styles
@include card.core-styles;
@include icon-button.core-styles;

::-webkit-scrollbar {
    width: 0px;
    display: none;
}

a {
    color: black;
    text-decoration: none;
}

body {
    background-color: #F8F8F8;
}

//Top-App-Bar
.kopfzeile {
    background-color: #000000;
    color: #FFFFFF;
    left: 0;
    top: 0;
    position: fixed;
}

//Menus
.mdc-list-item__text {
    padding-top: 10px;
    padding-bottom: 10px;
}

//Cards
.mdc-card {
    width: 100%;
    position: relative;
}
.mdc-card__header {
    padding-left: 10px;
    padding-right: -10px;
}
.mdc-button__label {
    color: black;
}

//TM-Demo-Webcam
#demo-container {
    width: 500px;
    left: 50%;
    top: 50%;
    margin-top: -250px;
    margin-left: -250px;
    position: fixed;
}
