//Primary/Secondary colors
@use "@material/theme" with (
  $primary: #000000,
  $on-primary: #ffffff
);

//Embed used material components
@use "@material/layout-grid/mdc-layout-grid";
@use "@material/typography/mdc-typography";
@use "@material/icon-button";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/button/styles";
@use "@material/list/mdc-list";
@use "@material/menu-surface/mdc-menu-surface";
@use "@material/menu/mdc-menu";
@use "@material/card";
@use "@material/ripple";
@use "@material/list";
@use "@material/dialog";

//Include component-styles
@include card.core-styles;
@include icon-button.core-styles;
@include list.deprecated-core-styles;
@include dialog.core-styles;

::-webkit-scrollbar {
    width: 0px;
    display: none;
}

a {
    color: black;
    text-decoration: none;
}

body {
    background-color: #F8F8F8;
    user-select: none;
}

//eduinf-startup-logo
#eduinf-logo-wrapper {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #F8F8F8;
    z-index: 10;
}
#eduinf-logo {
    left: 50%;
    top: 50%;
    width: 600px;
    height: 86px;
    margin-left: -300px;
    margin-top: -65px;
    position: absolute;
}
@keyframes fade-eduinf-logo {
    100% {opacity: 0};
}

//loader
#loader {
    background-color: none;
    right: 40px;
    top: 20px;
    position: absolute;
  }
  .loaderOuter {
    width: 12px;
    height: 12px;
    left: 0;
    top: 0;
    position: absolute;
    background-color: #000000;
    border-radius: 6px;
    z-index: 1;
    animation: loaderOuterAnimation 1s infinite;
  }
  @keyframes loaderOuterAnimation {
    0% {opacity: 0;}
    40% {opacity: 1;}
    100% {transform: scale(3); opacity: 0; display: none;}
  }
  .loaderInner {
    width: 8px;
    height: 8px;
    left: 2px;
    top: 2px;
    position: absolute;
    background-color: #f8f8f8;
    border-radius: 4px;
    z-index: 2;
    animation: loaderInnerAnimation 1s infinite;
  }
  @keyframes loaderInnerAnimation {
    0% {transform: scale(0);}
    100% {transform: scale(4); display: none;}
  }

//Maskottchen
#mascot {
    width: 230px;
    height: 230px;
    top: 50%;
    left: 50%;
    margin-top: -115px;
    margin-left: -115px;
    position: relative;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-transform: scaleX(-1);
}
@keyframes cameraBounce {
    0%  {margin-top: -125px};
    50% {margin-top: -150px};
    100% {margin-top: -125px;} 
}


//Top-App-Bar
.kopfzeile {
    background-color: #000000;
    color: #FFFFFF;
    left: 0;
    top: 0;
    position: fixed;
}

//Menus
.mdc-list-item__text {
    padding-top: 10px;
    padding-bottom: 10px;
}

//Cards
.mdc-card {
    width: 100%;
    position: relative;
}
.mdc-card__header {
    padding-left: 10px;
    padding-right: -10px;
}
.mdc-button__label {
    color: black;
}

//TM-Demo-Webcam
#demo-container {
    width: 500px;
    top: 50%;
    right: 125px;
    margin-top: -250px;
    position: fixed;
}
#camera-face-background {
    width: 300px;
    height: 300px;
    top: 50%;
    left: 135px;
    margin-top: -125px;
    position: absolute;
    border-radius: 150px;
    background-color: #D0DEE4;
    -webkit-filter: blur(20px);
}
#camera-face {
    width: 300px;
    height: 300px;
    top: 50%;
    left: 135px;
    margin-top: -125px;
    position: absolute;
    border-radius: 150px;
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
}
#waving-hand {
    width: 150px;
    height: 150px;
    left: 240px;
    top: -20px;
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transform: scaleX(-1);
    display: none;
}
@keyframes fade-in-hand {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fade-out-hand {
    0%   {opacity: 1;}
    100% {opacity: 0;}
}


//gallery
.gallery-nav {
    top: 50%;
    margin-top: -20px;
    position: absolute;
    -webkit-transform: scale(1.3);
}
.gallery-nav-left {
    left: 20px;
}
.gallery-nav-right {
    right: 20px;
}
#gallery-image-container {
    width: 800px;
    height: 450px;
    background-size: cover;
    left: 50%;
    top: 50%;
    margin-top: -225px;
    margin-left: -400px;
    position: fixed;
}
#progress-indicator {
    height: 6px;
    left: 50%;
    bottom: 35px;
    display: flex;
    position: absolute;
    transform: translate(-50%,0);
}
.progress-dot {
    width: 6px;
    height: 6px;
    position: relative;
    border-radius: 3px;
    background-color: black;
    margin-left: 20px;
    margin-right: 20px;
}

//video
.video-back {
    top: 110px;
    left: 20px;
    margin-top: -20px;
    position: absolute;
    -webkit-transform: scale(1.3);
}
#video-container {
    width: 950px;
    height: 535px;
    background-size: cover;
    left: 50%;
    top: 50%;
    margin-top: -245px;
    margin-left: -475px;
    position: fixed;
}

//faq
#faq-container {
    top: 80px;
    left: 80px;
    position: absolute;
}
#background {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: none;
    z-index: 10;
}
.faq-item {
    margin-bottom: 20px;
}
.mdc-list-item__primary-text {
    font-size: 20px;
}
.mdc-list-item__secondary-text {
    font-size: 15px;
}